@model pdf_markdown_manager.Models.Documents

@{
    ViewData["Title"] = "Usuwanie wpisu";
}


<h3>Czy na pewno chcesz usunąć ten wpis ? </h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.font_size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.font_size)
        </dd>
                 </dl>
    
    <form asp-action="Delete" class="mt-3">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy</a>
    </form>
</div>
